@import "./abstract/variables";
@import "./abstract/mixins";

@import "./base/reset";
@import "./base/typography";
@import "./base/utilities";

@import "./components/buttons";
@import "./components/checkboxes";
@import "./components/inputs";

@import "./layouts/header";
@import "./layouts/navigation";
@import "./layouts/footer";

@import "./pages/login";

body {
  position: relative;
  scrollbar-color: $color-primary rgba($color-primary, 0.2);
  scrollbar-width: thin;
  @include scrollbars(10px, $color-primary, rgba($color-primary, 0.2));
}
h1 {
  &:after {
    // @include pseudo;
  }
}

.test-mixin {
  background-color: $color-primary;
  @include respondMax(sm-desktop) {
    background-color: $color-secondary;
  }
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  &-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
}
.test-mixin {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  transform: translateX(-100%);
  transition: 0.3s;
  &.open {
    transform: translateX(0);
  }
}

.basic-text:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 30px;
  height: 30px;
  background-image: url("https://static.thenounproject.com/png/74745-200.png");
  background-size: contain;
}

h4.basic-text {
  position: relative;
}
