@import './abstract/mixins';

@import './base/typography';

@import './base/colors';
@import './base/reset';
@import './base/utilities'; 

@import './components/buttons';   

// @import './components/carousel'; 
// @import './components/datepicker'; 
// @import './components/checkboxes';
// @import './components/dropdown';
// @import './components/inputs';
// @import './components/labels';
// @import './components/switch';
// @import './components/popup';

// @import './layouts/header';
// @import './layouts/footer'; 

body{
    height: 1000px;    
    position: relative;
    scrollbar-color: #2589CB #F5F5F5;
    scrollbar-width: thin;
    @include scrollbars(10px, blue, green);
    
}
h1{
    &:after{        
        @include pseudo;
        @include css-triangle(#cc0000,up,15px,absolute);
    }
}