$color-primary: #0075ba;
$color-primary2: #0075ba;
$color-primary3: #0068a6;
$color-secondary: #e2eff8;
$color-white: #ffffff;
$color-black: #000000;
$color-green: #98c739;
$color-green2: #4bd863;
$color-light-blue: #e7f1f9;
$color-offwhite: #f1f2f7; 
$color-graylight: #d9d9d9;
$color-graydark: #333539;
$color-success: #4bb08e;