@import "../abstract/variables";

.form-control {
  border-color: $color-graylight;
  font-weight: 400;
  font-size: 16px;
  padding: 12px 18px;
  height: auto;
  line-height: 1.5;
  color: $color-secondary;
  &:focus {
    color: #495057;
    border-color: darken($color-graylight, 10%);
    outline: 0;
    color: $color-black;
    box-shadow: none;
  }
  &::placeholder {
    color: darken($color-graylight, 28%);
  }
  &.form-control-lg {
    font-size: 18px;
    padding: 14px 20px;
  }
  &.form-control-sm {
    font-size: 14px;
    padding: 11px 16px;
  }
}

.card-light-blue .card-body form .form-group label {
  color: $color-primary;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 3px;
  @media (max-width: 1440px) {
    font-size: 14px;
  }
}

.card-light-blue .card-body form .form-group .form-control {
  height: auto;
  border: none;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 18px;
  @media (max-width: 1440px) {
    font-size: 14px;
  }
  &::placeholder {
    font-weight: 500;
    color: #a3a3a3;
  }
}

.card-light-blue .card-body form .form-group .form-control:focus {
  box-shadow: none;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #fbfbfb;
  opacity: 1;
}
.form-control.control-full {
  font-size: 16px !important;
  padding: 16px;
  font-weight: 600;
  color: #777;
  border: 1px solid #f0f0f0;
  &:focus {
    color: #000;
  }
  @include respondMax(sm-phone) {
    padding: 10px 16px;
    font-size: 12px !important;
  }
}
textarea.form-control.control-full {
  min-height: 55px;
}

.form-control.control-full::placeholder {
  font-weight: 500;
  color: #aaa;
}
.form-control.control-full.slight_dark {
  border-color: #e9e9e9;
  padding: 10px 15px;
  font-size: 15px !important;
  &::placeholder {
    font-size: inherit;
  }
  &.fs-res {
    @include respondMax(lg-desktop) {
      font-size: 14px !important;
    }
  }
}
