@font-face {
    font-family: sign;
    src: url('../fonts/The_Sweet_Teddy_FREE.ttf');
}

.modal_icon {
    width: 70px;
    height: 70px;

    @include respondMax(sm-phone) {
        width: 55px;
        height: 55px;
    }
}

.modal_icon_img {
    width: 25px;
    height: 25px;
    object-fit: contain;

    @include respondMax(sm-phone) {
        width: 20px;
        height: 20px;
    }
    &.big{
        width: 36px;
        height: 36px;   
    }
}

.half_up {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 0;
}



.custom-radio .custom-control-label::before {
    border-color: #aaa;
}

.canvas_block>.canvas_body,
.canvas_block canvas {
    height: 201px;

    @include respondMax(lg-desktop) {
        height: 120px;
    }

    @include respondMax(sm-480) {
        height: calc(100vw/4);
    }
}

.canvas_block .abs {
    right: 15px;
    bottom: 15px;

    .trs {
        background: rgba(17, 116, 194, .15);
        color: rgba(17, 116, 194, 1);
        padding: 0px 10px;
        line-height: 1;

        b {
            font-weight: 600;
        }
    }

    .apply {
        padding: 0 15px;
        font-weight: 500;
        margin-right: 5px;
    }

    @include respondMax(lg-desktop) {
        right: 6px;
        bottom: 6px;

        .trs {
            font-size: 11px !important;
            padding: 0px 5px;
        }

        .apply {
            font-size: 8px;
            padding: 0px 9px;
            line-height: 1;
            border-radius: 2px;
        }

        span {
            margin-right: 3px !important;
        }
    }

    @include respondMax(sm-480) {
        .apply {
            margin-right: 2px;
        }

        .trs {
            font-size: 8px !important;
            padding: 0 5px;

            span {
                margin-right: 0 !important;
            }

            b {
                display: none;
            }
        }
    }
}

.p-10 {
    padding: 10px;
}

.canvas_block .btn span {
    padding-bottom: 2px;
    font-size: 29px;
    font-weight: 500;

    @include respondMax(lg-desktop) {
        font-size: 21px !important;
        padding-bottom: 3px;
    }

    @include respondMax(sm-480) {
        font-size: 16px !important;
        padding-bottom: 2px;
        margin-right: 3px !important;
    }
}

.bg-f2f2f2 {
    background: #f2f2f2;
}

.big-modal {
    margin-left: auto;
    margin-right: auto;
    @include respondMax(lg-desktop) {
        max-width: 660px;
    }

    @include respondMax(md-tab) {
        max-width: 540px;
    }

    @include respondMax(sm-phone) {
        max-width: calc(100% - 30px);
        margin-top: 25px;
        margin-bottom: 15px;
        .modal-content{
            max-width: 100%;
        }
    }
}

.row-sm-2 {
    @include respondMax(md-tab) {
        max-width: 540px;
        margin-left: -8px;
        margin-right: -8px;

        >div {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

.modal-lg2 {
    @include respondMin(md-tab) {
        max-width: 600px;
    }

    @include respondMin(lg-desktop) {
        max-width: 650px;
    }
}

.modal-content .card {
    background: none;
}

.modal-content {
    border-radius: 22px;

    @include respondMax(sm-phone) {
        max-width: calc(100% - 1rem);
        margin-left: auto;
        margin-right: auto;
    }
}
.notification-model-list.upgraded {
    padding: 10px 0;
    .card{
        .card-header {
            padding: 0;
        }
        .card-body{
            padding: 1rem 1rem 0;
            .form-check {
                margin-bottom: 3px;
            }
        }
        .card-header .card-link {
            color: #000;
            display: block;
            padding: 10px 20px;
            background: #e2eff8;
            border-radius: 5px;
            font-weight: 600;
            position: relative;
            &:before,
            &:after{
                position: absolute;
                top: 50%;
                transition: 0.3s;
                right: 15px;
                width: 12px;
                height: 2px;
                background: #000;
                content: '';
            } 
            &:before{
                transform: rotate(90deg);
            }
            &:not(.collapsed):before{
                transform: rotate(00deg);
            }
        }
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
}
.modal-dialog.modal-sm2 {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}
.label_list{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    .custom-control {
        margin: 12px 0;
        display: flex;
        font-weight: 500;
        .custom-control-label {
            color: #737373 !important;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: #000 !important;
            }
        }             
    }
}
.set_corner {
    position: absolute;
    top: -12px;
    right: -14px;    
    border-radius: 50%;
    border: none;
    font-size: 30px;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
}
.doc_height {height: calc(100vh - 130px);}