.document_process,
.document_process_item .process_item_box.big {
	transition: 0.2s;
}

.Full-View {
	.document_process {
		padding: 0;
	}

	.document_step {
		display: none;
	}

	.document_process_item .process_item_box.big {
		width: 100%;
		max-width: 100%;
		margin: 0;
	}

	.document_process_item:after,
	.document_process_item:last-child:before {
		display: none;
	}

	.left_options,
	.doc_area {
		max-height: calc(100vh - 198px);
	}
}

.document_process_item .process_item_box {
	&.big {
		max-width: calc(100% - 150px);
		margin: 0 auto 25px;
		@include respondMax(full-md) {
			max-width: calc(100% - 132px);
		}
		@include respondMax(lg-desktop) {
			max-width: calc(100% - 110px);
		}
		@include respondMax(md-tab) {
			max-width: calc(100% - 96px);
		}
	}
}

.Prepare_Document_block {
	padding-left: 15px;
	padding-right: 15px;
}

.select-box {
	position: relative;

	&:after {
		position: absolute;
		right: 18px;
		top: 12px;
		width: 9px;
		height: 9px;
		content: '';
		border: 2px solid #aaa;
		transform: rotate(45deg);
		border-left: none;
		border-top: none;
		pointer-events: none;
	}

	select {
		-webkit-appearance: none;
		height: auto;
		padding: 8px 40px;
		line-height: 1.4;
		padding-right: 36px;
		font-weight: 600;
		color: #777;
		cursor: pointer;
		font-size: 14px;

		&:focus {
			background: #fff;
			border-color: #ddd;
		}
	}

	.icon_left {
		position: absolute;
		width: 18px;
		pointer-events: none;
		height: 18px;
		object-fit: contain;
		top: 50%;
		transform: translateY(-55%);
		left: 14px;
		opacity: 0.55;
	}
	@media(max-width: 1366px){
		select{font-size: 13px;padding: 7px 36px;}
		.icon_left{width: 16px;height: 16px;left: 12px;}
	}
}

.doc_header {
	padding: 12px 15px;

	.select-box {
		min-width: 205px;
	}
}

.icon_item {
	padding: 5px 10px;
}

.hover_eee {
	img {
		width: 15px;
	}

	&:hover {
		background: #f2f5f9;

		img {
			opacity: 1 !important;
		}
	}
}


.custom_scroll_new,
.left_options {
	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background: #9999;
	}

	&::-webkit-scrollbar-thumb {
		background: #333;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #111;
	}
}

.left_options {
	width: 220px;
	padding: 15px;
	height: calc(100vh - 175px);
	overflow: auto;

	@include respondMax(lg-desktop) {
		height: calc(100vh - 167px);
	}

	@include respondMax(md-tab) {
		height: calc(100vh - 160px);
	}

	@include respondMax(sm-480) {
		height: calc(100vh - 207px);
	}

	hr {
		border-color: #eee;
		margin: 20px 0;
	}

	.drag_item {
		width: 100%;
		border: none;
		padding: 0;
		display: flex;
		border-radius: 3px;
		align-items: center;
		font-weight: 600;
		background: url('../images/Drag_Small_Icon.svg') calc(100% - 10px) center/8px auto no-repeat #fff;
		color: #000;
		margin-bottom: 12px;
		font-size: 14px;
		transition: 0.2s;

		&:active,
		&:focus {
			outline: none;
		}

		&.interaction:active {
			// transform: scale(1.03);
		}

		box-shadow:2px 1px 10px -2px #bbb;

		.drag_icon {
			padding: 7px 10px;
			border-top-left-radius: inherit;
			border-bottom-left-radius: inherit;
			margin-right: 16px;

			img {
				width: 16px;
				height: 16px;
				object-fit: contain;
			}
		}
	}

	&.right_options {
		@include respondMax(full-md) {
			width: 170px;
		}
	}
	@media(max-width:1366px){
		width: 185px;
		.drag_item{
			font-size: 13px;
			.drag_icon{
				padding: 6px 8px;
				img{
					width: 14px;
					height: 14px;
				}
			}
		}
	}
}

.thumnail_main {
	margin-top: 10px;

	.thumnail_item {
		position: relative;
		background: #fff;
		margin-bottom: 15px;
		height: 200px;
		img {
			border: 1px solid #ddd;		
			height: 100%;
			object-fit: cover;
			object-position: top;
		}		
		.numbers {
			position: absolute;
			top: 0;
			right: 0;
			background: #1174c2;
			color: #fff;
			padding: 5px 7px 5px 9px;
			line-height: 1;
			font-size: 12px;
			border-radius: 0px 0px 0px .8rem;
		}
		@include respondMax(full-md){
			height: 150px;
		}
	}
}

.small-select.form-control {
	padding: 0 5px;
	line-height: 1;
	height: auto;
}
.next_step {
	padding: 12px 9px;
}

.open_thumn {
	display: none;
}

@media(max-width:1199px) and (min-width:1024px) {
	.right_options {
		width: 150px;
	}
} 

@media(max-width:1199px) {
	.right_options {
		position: absolute;
		right: 0;
		top: 0;
		transform: translateX(100%);
		animation: close .3s forwards;
		transition: transform .3s;		
		box-shadow: 0px 0 10px #ddd;
		display: none;
		opacity: 0;

		&.open {
			opacity: 1;
			display: block;
			background: #fff;
			animation: open .3s forwards;
			transform: translateX(0);
		}
	}

	@keyframes open {
		from {
			transform: translateX(100%);
		}

		to {
			transform: translateX(0);
		}
	}

	.open_thumn {
		display: block;

		&:active,
		&:focus {
			outline: none;
		}
	}
}

.doc_header .select-box.right_select,
.doc_header .right_select {
	@include respondMax(sm-480) {
		min-width: 100%;
	}

	@include respondMax(sm-480) {
		min-width: 100%;
	}
}

.select-box.second {
	@include respondMax(sm-480) {
		margin-top: 10px;
	}
}

.right_select .select-box {
	@include respondMax(sm-480) {
		min-width: auto;
		width: 100%;
	}
}

@media(max-width:767px) {
	.open_thumn {
		display: none;
	}

	.addition_option {
		width: 100%;
		margin-bottom: 10px;
	}

	.process_steps li:not(.active) {
		display: none;
	}

	.process_steps li.active a:After {
		display: none;
	}

	.process_steps li.active a .c {
		background: none;
		border: none;
		color: #fff;
		white-space: nowrap;
		margin-right: 30px;
		font-size: 12px;
		padding-top: 2px;
		font-weight: 100;
		margin-left: 9px;
	}

	.process_steps li.active a .c:before {
		content: 'Steps ';
		font-weight: inherit;
		margin-right: 5px;
	}

	.process_steps li.active a .c:after {
		content: 'of 4 :';
		display: block;
		border: none;
		position: static;
		transform: none;
		width: auto;
		height: auto;
		margin-left: 5px;
		font-weight: inherit;
	}

	.process_steps li.active a {
		font-size: 13px;
	}
}

@include respondMax(sm-480) {
	.pt-480 {
		padding-top: 12px !important;
		padding-bottom: 12px !important;
	}
}

.small-select.trans-select>div {
	background: none;
	border: none;
	min-width: 65px;
	font-family: airal;
}

.small-select.trans-select>div .css-1hb7zxy-IndicatorsContainer span {
	display: none;
}

.small-select.trans-select .css-1hb7zxy-IndicatorsContainer>div {
	padding: 0;
	color: #888;
}

.doc_area {
	max-height: calc(100vh - 175px);
}

.doc_area img {
	object-fit: contain;
	height: auto;
}

.select-box .css-2b097c-container {
	font-size: 12px;
}

.select-box .css-26l3qy-menu {
	min-width: 100%;
	width: auto;
}

.select-box.right .css-26l3qy-menu {
	right: 0;
	left: inherit;
}

.no-chevron:after {
	display: none;
}

.small-select .css-1uccc91-singleValue {
	max-width: unset;
	color: #777;
}

.small-select.trans-select>div {
	min-width: 73px;
}
.drop-item .drag_icon {
	width: 42px;
	height: 42px;
	position: relative;
	img {
		width: 20px;
		height: auto;
		object-fit: contain;
	}
	&:hover .close {
		transform: translate(50%, -50%) scale(1);
		&:hover {
			opacity: inherit;
		}
	}
}
.drop-item .drag_icon .close {
	font-weight: 100;
	background: #E91E63;
	line-height: 1;
	opacity: 1;
	text-shadow: none;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%) scale(0);
	color: #fff;
	font-size: 20px;
	width: 21px;
	border-radius: 50%;
	padding: 0 0 2px;
	transition: .3s;
}

.next_step.with_space {
	&.ver{
		padding: 20px 25px;
		@include respondMax(lg-desktop){
			padding: 15px 20px;
		}
	}	
}