.resp_head {
    padding: 20px 30px;
    border-bottom: 1px solid #eee;

    &.resp_body {
        padding: 30px;

        @include respondMax(lg-desktop) {
            padding: 22px 25px;
        }
    }

    @include respondMax(lg-desktop) {
        padding: 15px 25px;
    }
}

.flat_ul {
    li {
        float: left;

        .flat_icon {
            display: block;
            padding: 12px 13px;
            border-right: 1px solid #f2f3f5;
            color: #777;
            line-height: 1;
            transition: .3s;
            @include respondMax(lg-desktop) {
                font-size: 14px;
            }
            @include respondMax(md-tab) {
                font-size: 13px;
                padding: 12px;
            }
            @include respondMax(sm-phone) {
                font-size: 12px;
                padding: 10px;
            }
            &:hover {
                background: #f1f3f5;
                color: #000;
            }

        }

        &:last-child .flat_icon {
            border-right: none;
        }
    }
}

.PDF_Area {
    padding: 0 80px;

    @include respondMax(lg-desktop) {
        padding: 0 72px;
    }

    @include respondMax(sm-phone) {
        padding: 0;
    }
}

.btn.start {
    background: #074a7e;
    left: 0;
    top: 0;
    line-height: 1;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    border-radius: 4px 0px 0px 4px;
    padding: 8px 18px;
    border: none;
    letter-spacing: 0.5px;
    transition: .3s;

    @include respondMax(lg-desktop) {
        padding: 6px 17px;
        font-size: 12px;
    }

    @include respondMax(sm-phone) {
        display: none;
    }
}

.sign_here {
    background: rgba(7, 74, 126, .9);
    position: absolute;
    display: inline-block;
    padding: 10px 12px;
    top: 22%;
    left: 22%;
}

.Review_Doc_Modal {
    .modal-header{
        padding-top: 30px;
        @include respondMax(lg-desktop){
            padding-top: 25px;
        }
    }
    .modal-header,
    .modal-body,
    .space_modal
    {
        padding-left: 35px;
        padding-right: 35px;
        @include respondMax(lg-desktop){
            padding-left: 25px;            
            padding-right: 25px;
        }
        @include respondMax(md-tab){
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
.space_modal{
    padding-top: 12px;
    position: relative;
    padding-bottom: 12px;
}
.space_modal:After {
    position: absolute;
    left: 0;
    content: '';
    border: 29px solid transparent;
    border-left-color: $color-green;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
    @include respondMax(lg-desktop){
        border-width: 18px;
    }
    @include respondMax(md-tab){
        display: none;
    }
}
.image_circle.small {
    width: 65px;
    height: 65px;
    @include respondMax(md-tab){
        width: 50px;
        height: 50px;
    }
}
.text-inherit, .text-inherit:hover {
    color: inherit;
}
.small_checkbox .c__checkbox + label:before {
    width: 16px;
    height: 16px;
}
.primary-check .c__checkbox + label:before {    
    background: #FFF;
    border-color: #fff;    
}
.primary-check .c__checkbox:checked + label:after{
    background: #000;
    box-shadow:  0 0 #000, 4px 0 0 #000, 4px -2px 0 #000, 4px -4px 0 #000, 4px -6px 0 #000, 4px -8px 0 #000;
}
.new .c__checkbox + label:before{
    border-color:#fff !important;
}
.new .c__checkbox:checked + label:after {
    top: 10px;
}
.small_checkbox .c__checkbox:checked + label:after {
    left: 4px;
    transform: scale(0.8) rotate(45deg);
    top: 9px;
}
.Review_Doc_Modal .modal-title {line-height: 1.4;}
@include respondMax(lg-desktop) {
    .Review_Doc_Modal .space_modal .new-btn { 
        padding-left: 20px;
        padding-right: 20px;
    }
    .modal.Review_Doc_Modal  .modal-dialog {
        max-width: 575px;
        @include respondMax(md-tab) {
            width: 575px;
            max-width: calc(100vw - 30px);
        }
        @include respondMax(sm-phone) {
            max-width: calc(100vw - 30px);
        }
    }        
}



@include respondMax(md-tab){
    .steps_header .navbar-brand.recipient_receive {
        max-width: 510px;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 ;
        p {
            color: #000 !important;
        }
        .btn {
            font-size: 11px!important;
            min-width: auto;
            padding: 7px 15px !important;
        }
        
        .btn-rgb {
            color: #666!important;
            background: #ddd;
        }
        @include respondMax(sm-phone){
            max-width:100%;
            left: 0;
            transform: none;
            padding: 0 15px;
        }
        @media(max-width:500px){
            p{                
              span{
                  display: block;
                  width: 100%;
              }  
              .btn{
                  margin: 6px 10px 0 0!important;                  
              }
            }
        }
    }
    .recipient_receive_box {
        margin-top: 25px;
        @media(max-width:500px){
            margin-top: 50px;
        }    
    }
}

.mb-6.space_modal {
    @include respondMax(lg-desktop){
        margin-bottom: 2rem !important;
    }
    @include respondMax(md-tab){
        margin-bottom: 1.8rem !important;
    }
    @include respondMax(sm-phone){
        margin-bottom: 1.5rem !important;
    }
}
@include respondMax(sm-phone){
    .w_res{
        width: 100%;
        &+img{
            margin-top: 15px;
        }
    }
    .Review_Doc_Modal .modal-header{
        padding-bottom: 6px;
    }
}
.popup_sign_right {
    max-width: 220px;
    padding-right: 35px;
    .sign_list{
        white-space: nowrap;
        margin-bottom: 6px;
    }
    @include respondMax(md-tab){
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }    
}

