.bg-blue-light {
	background-color: #edf4fa;
}

.bg-light2 {
	background: rgba(16, 115, 194, .08) !important;
}

.custom-tab.nav-tabs {
	margin-bottom: 15px;

	.nav-item {
		margin-right: 15px;

		.nav-link {
			background: rgba(16, 115, 194, .1);
			line-height: 1;
			color: #313131;
			padding: 10px 30px;
			font-size: 15px;
			border-radius: 3px;
			font-weight: 500;
			min-height: 100%;
			position: relative;

			&:after {
				position: absolute;
				content: '';
				border: 8px solid transparent;
				top: 100%;
				left: 50%;
				transform: translateX(-50%) translateY(-100%);
				border-top-color: #1073c2;
				opacity: 0;
				transition: .25s;
			}

			&.active:after {
				transform: translateX(-50%) translateY(0);
				opacity: 1;
			}

			img {
				margin-right: 5px;
			}

			&.active {
				background: #1174c2;
				color: #fff;

				img {
					filter: brightness(0) invert(1);
				}
			}

			@include respondMax(md-tab) {
				font-size: 13px;
				padding: 9px 20px;

				img {
					height: 15px;
				}
			}
		}

		@include respondMax(sm-phone) {
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
			}

			.nav-link {
				padding: 7px 12px;
				font-size: 12px;

				img {
					height: 12px;
					margin-right: 3px;
				}
			}
		}
	}
}

.sign_main {
	padding: 20px 0;	
	.sign_head {
		font-size: 16px;
		padding-left: 26px;
		padding-right: 26px;
		margin-bottom: 8px;

		@include respondMax(md-tab) {
			font-size: 14px;
			padding-left: 15px;
			padding-right: 15px;
		}
		.blank_box {
			width: 72px;

			@include respondMax(md-tab) {
				width: 60px;
			}

			@include respondMax(sm-480) {
				width: 47px;
			}

			@include respondMax(xs-phone) {
				width: 36px;
			}
		}
	}
	.sign_body>label {
		background: #fff;
		margin-bottom: 15px;
		padding: 15px 0;
		align-items: center;
		cursor: pointer;
		border-radius: 4px;
		box-shadow: 2px 2px 12px -3px rgba(0,0,0,.08);
		&:last-child {
			margin-bottom: 5px;
		}
		@include respondMax(md-tab) {
			padding: 12px 0;
			margin-bottom: 12px;
		}
		@include respondMax(sm-phone) {
			padding: 10px 0;
		}
		@include respondMax(xs-phone) {
			padding: 6px 0;
		}
	}

	.sign_body .blank_box {
		white-space: nowrap;
		margin-right: 20px;

		@include respondMax(md-tab) {
			padding-left: 15px;
			margin-right: 15px;
		}

		@include respondMax(sm-480) {
			margin-right: 10px;
			height: 19px;
			min-height: auto;
			padding-left: 10px;


			.custom-control-label::before,
			.custom-control-label::after {
				width: 12px;
				height: 12px;
			}
		}

		@include respondMax(xs-phone) {
			margin-right: 0;
			padding-left: 8px;
		}
	}

	.sign_body img {
		height: 30px;
		width: 100%;
		object-fit: contain;
		object-position: left;

		@include respondMax(md-tab) {
			height: 22px;
		}

		@include respondMax(xs-phone) {
			height: 20px;
		}
	}
	.singature {
		width: 50%;
	}	
	.initial {
		@include respondMax(xs-phone) {
			width: 33%;
		}
	}
	.custom-control-input:checked~.custom-control-label::before {
		background: none;
	}

	.custom-radio .custom-control-input:checked~.custom-control-label::after {
		background: #1174c2;
		border-radius: 50%;
		transform: scale(.5);
	}

	.custom-control-label::before,
	.custom-control-label::after {
		width: 1.2rem;
		height: 1.2rem;
	}

	.custom-control-label::before {
		border-width: 2px;
	}
	.sign_body {
		padding-left: 26px;
		padding-right: 26px;
		max-height: 231px;
		min-height: 150px;
		overflow: auto;

		@include respondMax(md-tab) {
			padding-right: 15px;
			padding-left: 15px;
		}

		&::-webkit-scrollbar {
			width: 12px;
		}

		&::-webkit-scrollbar-track {
			background: #b9c0c6;
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background: #4f5356;
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: #333;
		}

		.initial {
			@include respondMax(md-tab) {
				padding-left: 8px;
			}
		}
	}
	@include respondMax(md-tab) {
		padding: 10px 0;
	}	
}
.img_width {
	@include respondMax(lg-desktop) {
		width: 100px;
	}
	@include respondMax(md-tab) {
		width: 80px;		
	}
	@include respondMax(sm-phone) {
		width: 40px;
	}
}
.inline-form {
    .inline-row{        
        .inline-label {
            min-width: 80px;
            text-align: left;
            max-width: 80px;        
        }
        .form-control {
			font-size: 14px !important;			
        }
        
        @include respondMax(sm-phone){
            flex-wrap: wrap;
            .inline-label{
                width: 100% !important;
                display: block;
                max-width: unset;
                margin-bottom: 10px !important;
            }
        }
    }    
}  

@include respondMax(lg-desktop){
	.form-inline {
		&.popup{
			flex-wrap: nowrap;
			white-space: nowrap;;
			label,
			.form-control{
				margin-bottom: 0 !important;
			}
		}
	}
	.initial{
	max-width: 100px;	
	}
	@include respondMax(sm-phone){
		
	}
}
.fs-sm-new{
	@include respondMax(sm-phone){
		font-size: 12px !important;	
	}
	
	@include respondMax(sm-480){	
		font-size: 10px !important;		
	}
	@include respondMax(xs-phone){	
		font-size: 9px !important;		
	}
}
.canvas_text {
	padding: 18px 19px;
    line-height: 1;
    font-size: 18px;
	background: #f2f5f9;
	@include respondMax(sm-phone){
		font-size: 14px !important;			
		padding: 15px 10px;
	}
	
	@include respondMax(sm-480){	
		font-size: 13px !important;		
	}
	@include respondMax(xs-phone){	
		font-size: 12px !important;		
	}
}
.clear_icon {bottom: 10px;right: 10px;background: rgba(16, 115, 194, .11);line-height: 1;padding: 0 8px;color: $color-primary;}

.canvas_block .btn .text {
    font-size: 12px !important;
    margin-left: 1px;
	font-weight: 600;
	@include respondMax(md-tab){
		font-size: 11px !important;
	}
	@include respondMax(sm-phone){
		display: none;
	}
}

.clear_icon:hover {
    color: $color-primary2;
}