$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Raleway', sans-serif;

$font-normal:100;  
$font-medium:300;  
$font-semibold:400;  
$font-bold:500;  
.fw {
    &-normal{font-weight:$font-normal !important;}    
    &-medium{font-weight:$font-medium !important;}    
    &-semibold{font-weight:$font-semibold !important;}    
    &-bold{font-weight:$font-bold !important;}    
}
.fs {
    &-12{font-size:12px !important;}
    &-13{font-size:13px !important;}
    &-14{font-size:14px !important;}
    &-15{font-size:15px !important;}
    &-16{font-size:16px !important;}
    &-18{font-size:18px !important;}
    &-20{font-size:20px !important;} 
    &-22{font-size:22px !important;}
    &-24{font-size:24px !important;}
    &-30{font-size:30px !important;}

}
@include respondMin(md-phone) {   
.fs-sm{
    &-11{font-size:11px !important;}
    &-12{font-size:12px !important;}
    &-13{font-size:13px !important;}
    &-14{font-size:14px !important;}
    &-15{font-size:15px !important;}
    &-16{font-size:16px !important;}
    &-18{font-size:18px !important;}
    &-20{font-size:20px !important;}    
    }
}
@include respondMin(lg-phone) {   
.fs-md{
    &-11{font-size:11px !important;}
    &-12{font-size:12px !important;}
    &-13{font-size:13px !important;}
    &-14{font-size:14px !important;}
    &-15{font-size:15px !important;}
    &-16{font-size:16px !important;}
    &-18{font-size:18px !important;}
    &-20{font-size:20px !important;}    
    }
}
@include respondMin(md-tablet) {
    .fs-lg{
        &-11{font-size:11px !important;}
        &-12{font-size:12px !important;}
        &-13{font-size:13px !important;}
        &-14{font-size:14px !important;}
        &-15{font-size:15px !important;}
        &-16{font-size:16px !important;}
        &-18{font-size:18px !important;}
        &-20{font-size:20px !important;}    
    }
}
@include respondMin(sm-desktop) {
    .fs-xl{
        &-11{font-size:11px !important;}
        &-12{font-size:12px !important;}
        &-13{font-size:13px !important;}
        &-14{font-size:14px !important;}
        &-15{font-size:15px !important;}
        &-16{font-size:16px !important;}
        &-18{font-size:18px !important;}
        &-20{font-size:20px !important;}    
    }
}
@include respondMin(sm-desktop) {
    .fs-fxl{
        &-11{font-size:11px !important;}
        &-12{font-size:12px !important;}
        &-13{font-size:13px !important;}
        &-14{font-size:14px !important;}
        &-15{font-size:15px !important;}
        &-16{font-size:16px !important;}
        &-18{font-size:18px !important;}
        &-20{font-size:20px !important;}    
    }
}
.ls { 
    &-p5{letter-spacing: 0.5px}
    &-1{letter-spacing: 1px}
    &-2{letter-spacing: 2px}
}
