$font-primary: "Roboto", sans-serif;

$font-normal: 100;
$font-medium: 300;
$font-semibold: 400;
$font-bold: 500;

$color-primary: #03a9f4;
$color-secondary: #444;

$color-black: #212121;
$color-white: #fff;

$color-gray: #999;
$color-graylight: #ddd;
$color-graydark: #777;
$color-white: #fff;
